<!DOCTYPE html>
<html lang="en" ng-app="requestFormApp">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

  <link rel="stylesheet" href="css/normalize.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"> -->
  <!-- <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet"> -->

  <script src="js/jquery/jquery.min.js"></script>

  <script src="js/angular/angular.js"></script>
  <script src="js/angular/angular-route.min.js"></script>
  
  <script src="js/controllers.js"></script>

</head>
<body ng-controller="HomeCtrl">
  <div id="main">
    <h2>Dynamic Content Generator</h2>

    <div>

      <div class="form-group">
        <span class="label ">Game:</span>
        <select class="form-control" 
          ng-model="game"
          ng-options="item as item.name for item in gamesList" 
          ng-change="loadData(game.id)"
          >
        </select>
      </div>

      <div class="form-group" ng-hide="!game.data || game.data.characters.length === 0">
        <span class="label ">Characters:</span>
        <ul class="checklist">
          <li ng-repeat="item in game.data.characters" ng-class="{selected: (item.selected)}" ng-click="select(item)">
            <span>{{item.name}}</span>
          </li>
        </ul>
      </div>

      <div class="form-group" ng-hide="!game.data || game.data.backgrounds.length === 0">
        <span class="label ">Background:</span>
        <select class="form-control" 
          ng-model="background"
          ng-options="item as item.name for item in game.data.backgrounds">
        </select>

        <div class="colors" ng-show="background.type === 'color'">
          <div class="colors-field">
            <div style="width:50px; height:50px; background-color:{{background.value}};"></div>
          </div>
        </div>
        <div class="colors" ng-show="background.type === 'gradient'">
          <div class="colors-field">
            <div style="width:50px; height:50px; {{getGradient(background.value)}};"></div>
          </div>
        </div>
        <div class="colors" ng-show="background.type === 'pattern'">
          <div class="colors-field">
            <img src="templates/{{game.id}}/{{background.value}}">
          </div>
        </div>

      </div>

      <div class="form-group" >
        <span class="label ">CTA:</span>
        <select class="form-control" 
          ng-model="cta"
          ng-options="item for item in game.data.ctas">
        </select>
        <!-- <input name="cta" type="text" class="form-control" ng-model="cta"> -->
      </div>

      <div class="submit">
        <div>
          <button class="btn btn-primary" ng-click="updateBanner()">Update</button>
          <button class="btn btn-success" ng-hide="!game.data || game.data.characters.length === 0" ng-click="setRandom()">Random</button>
        </div>
      </div>

    </div>


    <!-- <div class="overlay" ng-show="submitted">
      <div class="wrapper">
        <div>
          <h2>Thank you for submitting request for banner design!</h2>
          <blockquote>We will respond to you within 24hrs.</blockquote>
          <button class="btn ok" ng-click="okay()">Okay</button>
        </div>
      </div>
    </div> -->

  </div>

  <div id="banner">
    <h2>Preview</h2>
    <div class="banner-container">
      
    </div>
  </div>

  <div id="dataJson">
    <h2>data.json</h2>
    <pre language="html" type="html">
      <code>{{game.data}}</code>
    </pre>
  </div>
       
</body>
</html>

